<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= message %></title>
    <link rel="stylesheet" href="/stylesheets/error.css" />
  </head>
  <body>
    <div class="container">
        <div class="top-row">
          <img src="/images/strawberry.png" alt="Sad Strawberry" class="icon" />
          <h1><%= error.status %> :(</h1>
        </div>
        <h2>ERROR <%= error.status %>, PAGE NOT FOUND</h2>
        <p class="error-text">This page doesn't Exist</p>
        <a href="/" class="btn">Return To main page</a>
      </div>
      
    </div>
  </body>
</html>