<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
    <div class="container text-start">
        <div class="row align-items-center" >
          <div class="col"  style="background-color: #E91011;">
            <H1 class="text-center">User Login</H1>
            <form action="/login"  method="post">
                <div class="mb-3">
                    <label  class="form-label email">Email:</label>
                    <input type="email" class="form-control text-center" id="email" name="email" placeholder="Plase, Enter E-mail Here">
                </div>
                <div class="mb-3">
                    <label for="formGroupExampleInput2" class="form-label">Password:</label>
                    <input type="password" class="form-control text-center" id="senha" name="senha" placeholder="Please, enter password here">
                </div>
              <span>Sign Up</span>
              <div class="text-center">
                <button class="btn submit" type="submit">LOGIN</button>
              </div>
            </form>
          </div>
          <div class="col text-center">
            <img src="images/logo.png" alt="">
          </div>
        </div>
      </div>

    
</body>
</html>