h1 {
  color: #fff;
}

a{
  text-decoration: none;
  color: #fff;
}

span{
  color: #fff;
  padding: 0px 0px 0px 25px;
}

a:hover{
  color: #e9e9e9;
}
label{
  color: #fff;
  padding: 0px 0px 0px 15px;
  font-weight: 600;
}

.btn.submit{
  background-color: #fff;
  padding: 14px 100px;
  border-radius: 50px;
  font-weight: 700;
  color: #9C9C9C;
}
.btn.submit:hover{
  background-color: whitesmoke;
}
.form-control{
  padding: 14px 5px;
  border-radius: 50px;
}
.container {
  display: flex;
  height: 100vh; /* Garante que a altura ocupa toda a tela */
}